@charset "UTF-8";
	.table {
		width: 100%; 
		margin: 20px auto;
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	.table>tbody>tr>td:first-child{
		text-align: left;
		border-top: none; 
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.table>tbody>tr>td{
		padding: 8px;
	    line-height: 1;
	    vertical-align: top;
	    cursor: pointer;
	    border-right: 1px solid #ddd;
	    text-align: right;
	    border-top: none; 
	}
	
	.table>thead>tr>th{
		vertical-align: middle;
	}
	
	.table>tfoot>tr>td:first-child{
		vertical-align: middle;
		text-align: center;
	}
	
	.table>tfoot>tr>td{
		vertical-align: middle;
		text-align: right;
	}
	
	.nota {
	
	}
	
	.div_principal{
		width: 90%;
		font-size: 12px;
		margin: 0 auto;
		position: relative;
	}
	
	.div_titulo{
		text-align: center;
		margin-top: 20px;
	}
	
	.tab1{
		margin-left: 15px;
	}
	
	.tab2{
		margin-left: 30px;
	}
	
	.tab3{
		margin-left: 45px;
	}
	
	.tab4{
		margin-left: 60px;
	}
	
	.tab5{
		margin-left: 75px;
	}
	
	.tab6{
		margin-left: 105px;
	}
	
	.negrillas{
		font-weight:bold;
	}
	
	.grid_loading_cuadros{
		position: absolute;
	    top:0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 1000;
	}
	
	.grid_loading_cuadros .msg {
	  opacity: 1;
	  background-color: rgba(238,238,238,0.85);
	  text-align: center;
	  width: 100%;
	  height: 100%;
	  display: table;
	}
	
	.grid_loading_cuadros .msg span {
	  display: table-cell;
	  vertical-align: middle;
	}

	.table>tbody>tr:hover{
		background-color: #f2f2f2;
	}
	
	g>text{
		text-transform: capitalize;
	}
	
	.goog-tooltip div{
		text-transform: capitalize;
	}
	
	.chart>div>div{
		margin:0 auto;
	}