@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
	height: 100%;
}

#mainview{
	height: calc(100% - 30px);
	width: 95%;
	margin: 0 auto;	
	display: table;
	padding-top: 51px;
}

.all_page{
	height: 100%;
}

.hidebar{
	top:-52px;
}

.showbar{
	top: 0;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}

nav.navbar{
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.maincontainer{
	margin: 15px;
	padding-top: 15px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 2px;
}

.row-fluid {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle; 
	text-align: center;
}

.grid-align-right{
	text-align: right;
}

.grid-align-center{
	text-align: center;
}

.ui-grid-grid-footer {
	padding-top: 2px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ui-grid-cell {
	overflow: visible;
}

.ui-grid-header-center{
	text-align: center;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     height: 48px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
     padding-right: 25px;
}
                 
.angular-google-map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dot_4{
	color: red;
}

.dot_3{
	color: green;
}

.dot_2{
	color: #E8A317;
}

.dot_1{
	color: #00e7e7;
}

.grid_loading{
	position: absolute;
	top: 0;
  	bottom: 0;
  	width: 100%;
}

.grid_loading .msg {
  opacity: 1;
  position: absolute;
  background-color: rgba(238,238,238,0.85);
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.grid_loading .msg span {
  display: table-cell;
  vertical-align: middle;
}


.footer{
	text-align: center;
}

.context-menu{
	
}

.context-menu .dropdown-menu {
	min-width: 100px;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

.tab_nivel0{
	padding-left: 0px;
}

.tab_nivel1{
	padding-left: 5px;
}

.tab_nivel2{
	padding-left: 10px;
}

.tab_nivel3{
	padding-left: 15px;
}

.tab_nivel4{
	padding-left: 20px;
}

.tab_nivel5{
	padding-left: 25px;
}

.semaphore-dot{
	font-size: 18px;
    color: withe;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.alineado {
  margin: auto;
  position: absolute;
  /*left: 0; */
  right: 0;
}

.fa-12x {
    font-size: 1.2em;
    color: #9d9d9d;
}

.fa-12x:hover {
    color: #ffffff;
}

.triangle-down {

  position: fixed;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 23px solid #000;
}

.triangle-down p{ 
  text-align:center;
  color:white;
  margin-top: -23px;
  margin-left: -9px;
  transition: color .2s;
  &:hover{color: rgba(0, 0, 0, .4)}
}

@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
 